.{
    padding: 0%;
    margin: 0;
    font-family: "Charm", sans-serif;
}

.produk {
    text-align: center;
    padding: 150px;
}

.produk button {
    padding: 10px 20px;
    background-color: burlywood;
    color: azure;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Charm", sans-serif;
}

.produk button:hover {
    background-color: yellowgreen;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: goldenrod;
    border-bottom: 1px solid black;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 9999;
    position: fixed;
    transition: all 300ms ease-in-out;
    height: 8opx;
    font-family: "Charm", sans-serif;
}

.navbar-judul a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

.navbartoogle a {
    color: azure;
    text-decoration: none;
    margin: 0 1rem;
    display: inline-block;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px;
    align-items: center;
    grid-gap: 40px;
}

img {
    object-fit: cover;
}

.grid > article { 
    box-shadow: 10px 5px 5px 0px black;
    border-radius: 30px;
    text-align: center;
    background: whitesmoke;
    width: 300px;
    transition: transform;
}

.grid > article img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.konten {
    text-transform: uppercase;
    cursor: progress;
}

.grid > article:hover {
    transform: rotate(15deg);
    transform: scale(1.2);
}

@media (max-width:1000px) {
    .grid {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:500px) {
    .grid {
        grid-template-columns: repeat(1,1fr);
    }
}