/* Titik Cahaya */

* {
    background-color: #d9ae93;
    box-sizing: border-box;
}
   
    .img {
        background-size: cover;
        background-position: center
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 0fr));
        margin: 0px;
        align-items: center;
        grid-gap: 10px; 
    }
        
    img {
        object-fit: cover;
    }

    table { width: 70%;
    border-collapse: collapse; /* Menggabungkan garis border */
    text-align: center;
    border: 0%;
    }

/* Mengatur warna latar belakang header tabel */
th {
    background-color: brown; 
    color: white;
    padding: 10px;
    text-size-adjust: 150%;
}

/* Mengatur warna latar belakang untuk baris tabel */
tr:nth-child(even) {
    background-color: brown; /* Warna abu-abu muda */
}

/* Mengatur gaya untuk sel tabel */
td {
    padding: 2px;
    border: 2px solid brown; /* Garis batas abu-abu */
}

#judul {
    color: brown;
    font-size: 24px;
}

form {
    font-size: 2opx;
    color: brown;
    margin: 0%;
    padding: 0%;
    border-color: azure;
}

footer {
    background: black
    text-align: center;
    padding: 20px 0;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
    
