body {
    margin: 0%;
    padding: 0%;
    background: #ffddc1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 7%; 
    background-color: #faf033;
    border-bottom: 1px solid black;
    
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 9999;
    position: fixed;
    transition: all 300ms ease-in-out;
    height: 8opx;
    font-family: "Charm", sans-serif;
}

.navbar-judul a {
    color: green; 
    font-size: 1rem;
    text-decoration: none;
}

.navbartoogle a {
    color: green;
    background-color: white;
    text-decoration: solid;
    margin: 0 2rem;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    font-style: normal;
}
