*{
    margin: 0%;
    padding: 0%;
    background-color: #ffddc1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color:#faf033; 
    border-bottom: 1px solid black;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 9999;
    position: fixed;
    transition: all 300ms ease-in-out;
    height: 8opx;
    font-family: "Charm", sans-serif;
}

.navbar-judul a {
    color: green; 
    font-size: 1rem;
    text-decoration: none;
}

.navbartoogle a {
    color: green;
    text-decoration: solid;
    margin: 0 2rem;
    display: inline-block;
    font-size: large;
    font-weight: bold;
    font-style: normal;
}

.slider{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

figure{
    position: relative;
    left: 0;
    width: 500%; /* width dikali slide */
    animation: 10s slide infinite;
}

.slide{
    position: relative;
    width: 20%; /* width dibagi slide */
    float: left;
}

.slide img{
width: 100%;
height: 650px;
}

@keyframes slide{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    20%{
        left:-100%;
    }
    30%{
        left:-100%;
    }
    40%{
        left:-200%;
    }
    50%{
        left:-200%;
    }
    55%{
        left:-300%;
    }
    65%{
        left:-300%;
    }
    66%{
        left:-200%;
    }
    74%{
        left:-200%;
    }
    75%{
        left:-100%;
    }
    85%{
        left:-100%;
    }
    90%{
        left:0;
    }
    1000%{
        left:0;
    }
}